/* Cascading style sheet */
/* Using style tag */
/* using inline css */
/* using external style */
body{
    font-family: "Space Grotesk";  
}
section{
margin-top: 30px;    
}
button{
    padding: 10px;
    border: none;
background-color: black;
color: white;
border-radius: 5px;
cursor: pointer;
}